.logoUp {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logoDown {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  color: #2196f3;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  text-align: center;
}
.backgroundColor {
  background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}
.button {
  display: inline-block;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.description {
  color: #757575;
  width: 270px;
}

h3 {
  font-size: 36px;
  text-align: center;
}
.button2:hover {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}
.descriptionHeadSize {
  font-size: 18px;
}
.descriptionSize {
  font-size: 16px;
}

footer {
  background-color: #2f303a;
  color: white;
}
.hrefBottomColor {
  color: rgba(255, 255, 255, 0.6);
}

.hrefTopColorRight {
  color: #757575;
}
.SectionOurTeam {
  background-color: #f5f4fa;
}
.secondColorUp {
  color: black;
}
.secondColorDown {
  color: white;
}
li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
.oneLineNav {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 20px;
}
.oneLineAddress {
  display: inline-block;
  padding-right: 30px;
}
.NavElementToRight {
  position: absolute;
  right: 0%;
}
p {
  word-wrap: break-word;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-div-center {
  text-align: center;
}
header {
  border-bottom: 1px solid #ececec;
}

.liTeam {
  display: inline-block;
}
.imgteam {
  width: 270px;
  height: 260px;
}
.Teambox {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
}
.aNav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.banerText {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.portfolioBox {
  box-sizing: border-box;

  width: 370px;
  height: 404px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolioButton {
  
  width: 93px;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  
}