.logoUp {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logoDown {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  color: #2196f3;
}
li {
  list-style-type: none;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  text-align: center;
}
.backgroundColor {
  background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}
.button {
  display: inline-block;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}
.description {
  color: #757575;
  width: 270px;
}

h3 {
  font-size: 36px;
  text-align: center;
}
.button2:hover {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}
.descriptionHeadSize {
  font-size: 18px;
}
.descriptionSize {
  font-size: 16px;
}

footer {
  background-color: #2f303a;
  color: white;
}
.hrefBottomColor {
  color: rgba(255, 255, 255, 0.6);
}

.hrefTopColorRight {
  color: #757575;
}
.SectionOurTeam {
  background-color: #f5f4fa;
}
.secondColorUp {
  color: black;
}
.secondColorDown {
  color: white;
}
li {
  display: inline-block;
  /* padding: 10px; */
  margin-right: 10px;
}
.oneLineNav {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 20px;
}
.oneLineAddress {
  display: inline-block;
  padding-right: 30px;
}
.NavElementToRight {
  position: absolute;
  right: 0%;
}
p {
  word-wrap: break-word;
}
.container {
  width: 1200px;
  padding-left: 215px;
  padding-right: 215px;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-div-center {
  text-align: center;
}
header{
  border-bottom: 1px solid #ECECEC ;
}

